*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: transparent;
  font-family: "Dongle", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #212121;
}

#upper-content {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: row;
}

#lower-content {
  width: 100%;
  height: 80px;
  background: #121212;
}

#upper-menu {
  width: 210px;
  height: 100%;
  background: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #3b3b3b;
  justify-content: space-between;
}

#menu-top {
  width: 100%;
  height: calc(100% - 110px);
  display: flex;
  flex-direction: column;
}
#menu-bottom {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.menu-item {
  margin: 10px 10px 0 10px;
  width: calc(100% - 20px);
  height: 35px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  line-height: 35px;
}

.icon {
  font-family: "Segoe Fluent Icons", sans-serif;
  font-size: 18px;
}

.menu-item:hover {
  background: #323232;
}

.menu-active {
  background: #323232;
}

#menu-logo {
  margin: 10px;
  width: calc(100% - 20px);
  height: 40px;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px;
  user-select: none;
  gap: 10px;
  font-size: 20px;
}

#playlists-menu {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #323232;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #121212;
}

#lower-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#song-info {
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  font-size: 25px;
}

#album-art {
  background-image: url("./test.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 65px;
  width: 65px;
  margin: 10px 10px 10px 5px;
  border-radius: 5px;
}

#song-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#song-title {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

#song-artist {
  font-size: 16px;
  cursor: pointer;
  color: #ccc;
}

#song-buttons {
  height: 100%;
  width: calc(100% - 250px);
}

/* body {
  width: 100vw;
  height: 100vh;
  background: #232323;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: end;
  font-family: "Roboto", sans-serif;
} */
/* 
#container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
  background: #101010;
}

.button {
  border-radius: 4px;
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-height: 40px;
  padding: 0 10px;
  width: 40px;
  user-select: none;
  transition-duration: 200ms;
  font-family: "Segoe Fluent Icons", sans-serif;
  margin-left: 10px;
}

.button:hover {
  background: #1a1a1a;
}

#panel {
  width: fit-content;
  border-radius: 4px;
  background: #121212;
  min-height: 40px;
  padding: 0 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress-bar {
  background: #212121;
  border-radius: 4px;
  height: 8px;
  width: calc(100vw - 500px);
  cursor: pointer;
}

#progress-bar-fill {
  background: #ffc107;
  border-radius: 4px;
  height: 8px;
  width: 0%;
  transition-duration: 100ms;
}

#volume-control {
  width: 100px;
  -webkit-appearance: none;
  outline: none;
  background: #232323;
  border-radius: 4px;
  height: 8px;
}

#volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #ffc107;
  cursor: pointer;
  border-radius: 8px;
} */
